body {
    font-family: Verdana;
    color: white; 
    background: black
  }

  hr {
    border: 0;
    height: 1px;
    background: #fff;
    background-image: -webkit-linear-gradient(left, #000, #fff, #000);
    background-image: -moz-linear-gradient(left, #000, #fff, #000);
    background-image: -ms-linear-gradient(left, #000, #fff, #000);
    background-image: -o-linear-gradient(left, #000, #fff, #000);
    }
    
.teacher {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    margin-bottom: 10px;
}
 
hr {
    margin: 20px 0;
}
 
.adding__form {
    width: 300px;
    margin: 0 auto;
}

.adding__form-input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.teacher__button {
    display: block;
    background-color: red;
    color: white;
    padding: 5px 0;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.teachers__total {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.teachers__total b {
    margin-right: 10px;
}

.modify {
    text-align: center;
} 